<%- include ("header") -%>

<h1 style="color: rgba(81, 98, 210, 0.716); padding-left: 12cm; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;" >About Myself</h1>
<p>
  Meet <span> Tasnim Asraf </span>, a talented and passionate <span>full-stack developer </span> on a mission
  to bring innovative ideas to life in the digital realm. With a keen eye for
  detail and a relentless pursuit of excellence, Tasnim thrives in the
  dynamic world of software development, where creativity and technical prowess
  merge to create seamless and user-friendly applications. Armed with a diverse
  skill set that spans front-end and back-end technologies, Tasnim crafts
  elegant solutions that not only meet clients' needs but also exceed their
  expectations. Whether it's designing intuitive user interfaces or architecting
  robust backend systems, Tasnim is always ready to take on new challenges
  and push the boundaries of what's possible in the ever-evolving world of
  technology. With a strong commitment to continuous learning and a genuine love
  for coding, Tasnim is undoubtedly a valuable asset to any development
  team, capable of turning <span> complex ideas into reality, </span>  one line of code at a
  time.
</p>

<%- include ("footer") -%>
